<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Diagnose</title>
    <link href="setPatientAns.css" rel="stylesheet" />
</head>

<body>
    <div class="div_wrapper">
        <h5 class="page_approval">user has been created successfully!
            <a href="javascript:history.back()">Go Back</a>
        </h5>
        <h1 class="page_header">First Diagnose:</h1>
        <div id="patient_name">
            patient name: <%= patientKey.name %>
        </div>
        <div id="first_respond" class="chat_bubble">
            <%= gptAnsKey %>
        </div>
        <div class="user_chat">
            <input id="user_chat_input">
            <button id="user_chat_btn" onclick="sendUserInput()">send</button>
        </div>
        <div id="gpt_respond" class="chat_bubble"></div>
    </div>
    <script>
        function sendUserInput() {
            var userInput = document.getElementById("user_chat_input").value.toString();
            var gptHistory = document.getElementById("first_respond").innerHTML.toString();
            var question = "chat history: " + gptHistory + " new question: " + userInput;
            fetch('/ask?question=' + encodeURIComponent(question))
                .then(response => {
                    return response.json(); // Convert response to text
                })
                .then(data => {
                    console.log(data);
                    document.getElementById("gpt_respond").innerHTML = data;
                })
                .catch(error => console.log(error)); // Log any errors
        }
    </script>
</body>

</html>