<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not a Face Image</title>
    <link href="setPatientAns.css" rel="stylesheet" />
</head>
<body>
    <h1 class="page_header">Image Validation</h1>
    <p class="chat_bubble">The uploaded image is not a face image. Please upload another image.
        <a href="javascript:history.back()">Go Back</a>
    </p>

</body>
</html>
