/* firstDiagnose.css */

body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 10px 50px;
  padding: 20px;
}

.div_wrapper {
  width: 60vw;
  margin: auto;
}

.page_approval {
  text-align: center;
  color: #4caf50;
  margin-top: 0;
}

.page_header {
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 10px;
}

#patient_name {
  font-weight: bold;
  text-align: center;
}

#firstRespond {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
}

.user_chat {
  display: flex;
  margin-bottom: 10px;
}

#user_chat_input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

#user_chat_btn {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

#gptRespond {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
}

.chat_bubble {
  background-color: rgb(183 217 204);
  width: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  color: black;
  font-size: 15px;
}